    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      font-family: "Josefin Sans", sans-serif;
    }

    .navbar-custom {
      font-size: 18px;
      background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 10px;
    }

    .main-nav {
      list-style-type: none;
      display: none;
    }

    .nav-links,
    .logo-custom {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
    }

    .main-nav li {
      text-align: center;
      margin: 15px auto;
    }

    .logo-custom  {
      display: inline-block;
      font-size: 22px;
      margin-top: 10px;
      margin-left: 20px;
    }

    .navbar-toggle-custom {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
    }

    .active {
      display: block;
    }

    @media screen and (min-width: 768px) {
      .navbar-custom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
      }

      .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
      }

      .main-nav li {
        margin: 0;
      }

      .nav-links {
        margin-left: 40px;
      }

      .logo-custom  {
        margin-top: 0;
      }

      .navbar-toggle-custom {
        display: none;
      }

      .logo-custom:hover,
      .nav-links:hover {
        color: rgba(255, 255, 255, 1);
      }
    }