.grid-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 13px;
    grid-row-gap: 26px;
    justify-items: stretch;
    align-items: stretch;
 }

 @media screen and (max-width: 768px) {
    .grid-listing {
        grid-template-columns: 1fr 1fr;
    }
  }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px; /* 5px rounded corners */
    height: 100%;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  
  /* Add some padding inside the card container */
  .card-container {
    font-size: 10px;
    padding: 2px 10px;
  }

  .card-container p {
      font-size: 15px;
  }

  .card-image{
      width: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
  }

  .btn-outline.disabled{
    color: #575757;
    border-color: #575757;
  }
  
.card-header{
  margin-top: 15px;
}

.admin-panel.disabled{
  display: none;
}

.admin-create-card-form{
  margin-bottom: 20px;
}

  .btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    border-radius: 40px;
  }

  .btn-dark {
    color: #004E64;;
    background-color: #ffffff;
    border-color: #004E64;
    font-weight: bold;
    border-radius: 40px;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #4fbfa8;
    color: #ffffff;
    border-color: #4fbfa8;
    
  }

  .btn-dark:hover,
  .btn-dark:active,
  .btn-dark:focus,
  .btn-dark.active {
    background: #004E64;
    color: #ffffff;
    border-color: #004E64;
    
  }
  

  
  /* for demo purpose only */
  
  .btn-outline, .btn-dark  {
    margin-top: 10px
  }


.flex-row {
  display: flex;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-2 {
  margin-top: 20px;
}
